<button type="button" class="toggleShowing" {{action "toggleShowing"}}>
  {{if showing 'hide' 'kommentieren'}}
</button>
{{#if showing}}
  <form class="comment form" >

    {{input type="text" value=text placeholder="Comment"}}
    <button type="submit" class={{if createable 'ok' 'disabled'}} {{action "create"}} >Senden</button>
  </form>
{{/if}}
{{yield}}
