
<form class="form" {{action 'authenticate' on='submit'}}>

  {{input id='identification' placeholder='Enter Login' value=identification}}

  {{input id='password' placeholder='Enter Password' type='password' value=password}}
    <button type="submit">Login</button>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
  {{yield}}
</form>
