
<form class="form login-form" {{action 'authenticate' on='submit'}}>

  {{input id='identification' placeholder='Email' value=identification}}

  {{input id='password' placeholder='Password' type='password' value=password}}
    <button type="submit">Login</button>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
  {{yield}}
</form>
