{{yield}}
<form class="form">

{{input value=poll.topic placeholder="Umfrage Thema" }}
<ul>

{{#each poll.options as |option|}}
<li>{{option.title}}
<a {{action 'delete' option}} class="action">
  <i class="minus option-delete icon"></i>
</a>
</li>
{{/each}}
</ul>
{{simple-form placeholder="Auswahlmöglichkeit" buttonText="Möglichkeit Hinzufügen" iconShow="plus" iconHide="minus" create="createOption" showing=true noToggleShowing=true}}
<button type="button" {{action "allUsers"}}>Alle Nutzer als Möglichkeit</button>
<button type="button" {{action "allCourses"}}>Alle Kurse als Möglichkeit</button>
<button type="button" {{action "allTeachers"}}>Alle Lehrer als Möglichkeit</button>
<button type="button" {{action "removeAll"}}>Alle Möglichkeiten entfernen</button>
<button type="submit" class={{if createable 'ok' 'disabled'}} {{action "savePoll"}}>Speichern</button>

</form>
