{{yield}}
<form class="form">

{{input value=poll.topic placeholder="Umfrage Thema" }}
<ul>

{{#each poll.options as |option|}}
<li>{{option.title}}
<a {{action 'delete' option}} class="action">
  <i class="minus option-delete icon"></i>
</a>
</li>
{{/each}}

{{simple-form placeholder="Auswahlmöglichkeit" buttonText="Möglichkeit Hinzufügen" iconShow="plus" iconHide="minus" create="createOption" showing=true noToggleShowing=true}}
<button type="submit" class={{if createable 'ok' 'disabled'}} {{action "savePoll"}}>Speichern</button>
</ul>
</form>
