<li class="poll">
<h3 >  {{poll.topic}}  </h3>
  <ul class="poll-options">
    {{#each poll.options as |option|}}
  <a {{action "vote" option}} >
     <li class="poll-option">
       {{option.title}} : {{option.voteamount}}
     </li>
  </a>
    {{/each}}
    {{#if administratable}}
      {{simple-form placeholder="Auswahlmoeglichkeit" iconShow="plus" iconHide="minus" create="createOption"}}
    {{/if}}
  </ul>
  {{poll-chart options=poll.options}}
</li>
<hr class="border">
{{yield}}
