{{#if user.attendings }}
  <div class="user-courses card">
    <h3>Kurse</h3>
    <ul>
      {{#each withNotes as |attending|}}
      {{#link-to 'courses.course' attending.course}}
        <li> <b>{{attending.note}}: </b>  {{attending.course.name}} {{attending.course.teacher}}</li>
      {{/link-to}}
      {{/each}}

      {{#each withoutNotes as |attending|}}
      {{#link-to 'courses.course' attending.course}}
        <li>{{attending.course.name}} {{attending.course.teacher}}</li>
      {{/link-to}}
      {{/each}}
    </ul>
  </div>
{{/if}}

{{yield}}
