<a {{action "open"}} >
   <li class="poll-option">
     {{option.title}}
   </li>
</a>

{{#if showingModal}}
{{#modal-dialog close="close" clickOutsideToClose=true}}
<h2>Möchtest du wirklich für {{option.title}} stimmen?</h2>
<button class="positive" type="button" {{action "vote" option}}>Ja</button>
<button class="negative" type="button" {{action "close"}}>Nein</button>
{{/modal-dialog}}
{{/if}}

{{yield}}
