<div class={{containerClass}} {{action "toggleShowing"}}>

  <table>


    <tr>
      <td class="date">
        {{#if date}}
          {{date}}
        {{/if}}
      </td>
       <td>

         <a {{action 'open'}} class="action">
           <i class="delete comment icon"></i>
         </a>
       </td>
    </tr>
    <tr>
      <td>
        {{#if transaction.reason}}
          Grund:{{transaction.reason}}
        {{/if}}
      </td>


      <td class={{changeClass}}>
        {{#if transaction.value}}
        {{transaction.value}}
        {{/if}}
      </td>
    </tr>
    <tr>
      <td>
        {{#if transaction.receipt}}
          Beleg:{{transaction.receipt}}
        {{/if}}
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        {{#if transaction.excerpt}}
          Kontoauszug:{{transaction.excerpt}}
        {{/if}}
      </td>
      <td>
            {{#if transaction.balance}}
              Kontostand: <span class="balance"> {{transaction.balance}} </span>
            {{/if}}
      </td>
    </tr>
  </table>
  <p class="minor">{{transaction.user.fullname}}</p>











</div>


{{yield}}

{{#if showingModal}}
{{#modal-dialog close="close" clickOutsideToClose=true}}
<h2>Wirklich löschen?</h2>
<button class="positive" type="button" {{action "delete" option}}>Ja</button>
<button class="negative" type="button" {{action "close"}}>Nein</button>
{{/modal-dialog}}
{{/if}}
