<li class="poll {{poll.id}}">
<h3>  {{poll.topic}}

{{#if-moderator class="inline-block"}}
  <a {{action 'open'}} class="action">
    <i class="delete comment icon"></i>
  </a>
{{/if-moderator}}
</h3>
{{#unless poll.hasvoted}}
  {{input type="text" class="options-search" value=filter placeholder="suchen"}}
  <ul class="poll-options">

    {{#each filteredOptions as |option|}}
      {{single-option class="poll-option-container" option=option vote="vote" blur="blur"}}
    {{/each}}

  </ul>
  {{/unless}}
  {{#if poll.hasvoted}}

    {{#toggle-action on="startReload" off="stopReload"}}
      <i class="icon eye"></i>
    {{/toggle-action}}

    {{poll-chart options=poll.options}}

  {{/if}}
</li>
{{yield}}


{{#if showingModal}}
{{#modal-dialog close="close" clickOutsideToClose=true}}
<h2>Wirklich löschen?</h2>
<button class="positive" type="button" {{action "delete" option}}>Ja</button>
<button class="negative" type="button" {{action "close"}}>Nein</button>
{{/modal-dialog}}
{{/if}}
