<li class="poll">
<h3 >  {{poll.topic}}  </h3>

{{#if administratable }}
  <a {{action 'open'}} class="action">
    <i class="delete comment icon"></i>
  </a>
 {{/if}}
{{#unless poll.hasvoted}}
  <ul class="poll-options">
    {{#each poll.options as |option|}}
      {{single-option class="poll-option-container" option=option vote="vote" blur="blur"}}
    {{/each}}

  </ul>
  {{/unless}}
  {{#if poll.hasvoted}}
    {{poll-chart options=poll.options}}
  {{/if}}
</li>
<hr class="border">
{{yield}}


{{#if showingModal}}
{{#modal-dialog close="close" clickOutsideToClose=true}}
<h2>Wirklich löschen?</h2>
<button class="positive" type="button" {{action "delete" option}}>Ja</button>
<button class="negative" type="button" {{action "close"}}>Nein</button>
{{/modal-dialog}}
{{/if}}
