{{yield}}
{{#if rawData}}
  {{#power-select-multiple
        options=rawData
        selected=selected
        searchField="fullname"
        placeholder="Select a user"
        onchange=(action 'setCurrentUsers' )
        as |user|
      }}
        {{user.fullname}}
      {{/power-select-multiple}}
    <button {{action "addAllUsers"}}>Alle ansehen</button>
    <button {{action "removeAllUsers"}}>Niemanden ansehen</button>
{{/if}}
{{!-- {{#if data}} --}}
{{time-chart data=data}}
    {{!-- {{/if}} --}}
