{{#liquid-bind model use="toLeft" class="user-model-bind" as |currentModel|}}
<div class="user">
<h2 class="top">{{currentModel.forename}} {{currentModel.name}}</h2>
{{single-user create="createComment" user=currentModel comments=currentModel.comments blur="blurBackground"}}
{{#unless limitTooHigh}}<button type="button" {{action "loadMore"}}>Mehr laden</button> {{/unless}}

{{outlet}}

</div>
{{/liquid-bind}}
