<div class="user">
  <div class="user-data">
    <div class="name card">
      <p id="forname">{{model.forename}}</p>
      <p id="lastname">{{model.name}}</p>
    </div>
  </div>
  <div class="flexContainer">
  {{#if model.attendings}}
  {{single-user user=model class="flexChild"}}
  {{/if}}

      {{#if model.comments}}
        {{#comment-listing comments=model.comments blur="blurBackground" class="user-comment flexChild"}}
          {{#unless limitTooHigh}}<button type="button" {{action "loadMore"}}>Mehr laden</button> {{/unless}}
        {{/comment-listing}}
        {{/if}}
      {{#unless currentUser}}
        <div class="flexChild createCommentFlex">
          {{simple-form create="createComment" placeholder="Kommentar" openText="kommentieren" class="createComment card"}}
        </div>

      {{/unless}}
  {{outlet}}

  </div>
</div>
