<h2 class="top">{{model.name}}</h2>
<p>
  Ich bin {{model.age}} Jahre alt

</p>
{{comment-form create="createComment" user=model}}
<h3>Kommentare</h3>
{{comment-listing comments=model.comments}}

{{outlet}}
