<div class="course">
  <div class="course-data card">
      <h2 class="top">{{model.name}} bei {{model.teacher}}</h2>
  </div>
<div class="flexContainer courseFlexContainer">

<div class="flexChild">


  <ul class="students card">
    {{#unless model.isattending}}


      {{#confirm-button buttonText="Beitreten" confirm="joinCourse"}}
        <h3>Wirklich beitreten?</h3>
        <div class="form" >
                {{input value=note placeholder="Bemerkungen" enter=""}}
              </div>

      {{/confirm-button}}
    {{/unless}}

    <h3>Schüler im Kurs</h3>
    {{#each model.attendings as |attending|}}

      <li>
        {{#link-to 'users.user' attending.user }}
            {{attending.user.forename}} {{attending.user.name}}
        {{/link-to}}
      {{#if-admin user=attending.user}}
        {{#delete-dialogue confirm="leaveCourse" param=attending}}
          <h3>Wirklich diesen Kurs verlassen?</h3>
        {{/delete-dialogue}}
      {{/if-admin}}
      </li>

    {{/each}}
  </ul>
</div>
{{#if model.anecdotes}}
<div class="flexChild anecdotesFlex">
  <ul class="anecdotes card">

    <h3>Anekdoten</h3>
    {{#each model.anecdotes as |anecdote|}}

      <li>{{anecdote.text}}</li>
        {{#if-admin user=anecdote.user}}
          {{#delete-dialogue confirm="deleteAnecdote" param=anecdote}}
            <h3>Wirklich diese Anekdote löschen?</h3>
          {{/delete-dialogue}}
        {{/if-admin}}
      <hr class="border">
    {{/each}}
  </ul>
  </div>
{{/if}}
  <div class="flexChild">
    {{simple-form placeholder="Anekdote" buttonText="Speichern" create="createAnecdote" class="createAnecdotes card"}}
  </div>
{{outlet}}
</div>
</div>
