<div class="user course">
  <h2 class="top">{{model.name}} bei {{model.teacher}}</h2>
  <ul class="students">
    {{#if model.isattending}}
      {{!-- {{#confirm-button buttonText="austreten" confirm="leaveCourse"}}
        <h3>Wirklich austreten?</h3>
      {{/confirm-button}} --}}
    {{else}}
      {{#confirm-button buttonText="Beitreten" confirm="joinCourse"}}
        <h3>Wirklich beitreten?</h3>
        <div class="form" >
                {{input value=note placeholder="Bemerkungen" enter=""}}
              </div>

      {{/confirm-button}}
    {{/if}}

    <h3>Schüler im Kurs</h3>
    {{#each model.attendings as |attending|}}

      <li>
        {{#link-to 'users.user' attending.user.id }}
            {{attending.user.forename}} {{attending.user.name}}
        {{/link-to}}
      {{#if-admin user=attending.user class="inline-block"}}
        {{#delete-dialogue confirm="leaveCourse" param=attending}}
          <h3>Wirklich diesen Kurs verlassen?</h3>
        {{/delete-dialogue}}
      {{/if-admin}}
      </li>

    {{/each}}
  </ul>
  <ul class="anecdotes">
    <h3>Anekdoten</h3>
    {{simple-form placeholder="Text" buttonText="Speichern" create="createAnecdote"}}

    {{#each model.anecdotes as |anecdote|}}

      <li>{{anecdote.text}}

        {{#if-admin user=anecdote.user class="inline-block"}}
          {{#delete-dialogue confirm="deleteAnecdote" param=anecdote}}
            <h3>Wirklich diese Anekdote löschen?</h3>
          {{/delete-dialogue}}
        {{/if-admin}}
      </li>
      <hr class="border">
    {{/each}}
  </ul>
{{outlet}}
</div>
