<div class="quotes">
  <div class="element">
    <h3 class="marginless">Alle Anekdoten</h3>
  </div>
  <div class="element">

  <ul class="quote-listing">
    {{input type="text" class="search marginless" value=query placeholder="suchen"}}
  {{#each model as |anecdote|}}
  <hr class="border">
  <li>

     <h4 class="quoted">  {{#link-to 'courses.course' anecdote.course.id}} {{anecdote.course.name}} bei {{anecdote.course.teacher}} {{/link-to}}</h4>

        <p class="quote-text">
          {{anecdote.text}}
        </p>

      </li>
  {{/each}}
  {{#if notShowingAll}}
    <button {{action "showMore"}}>Mehr laden</button>
  {{/if}}
  </ul>
</div>

    {{outlet}}
</div>

 {{liquid-outlet}}
