<div class="header">


<div class="navbar">
  {{#if session.isAuthenticated}}
    {{#link-to 'users.user' id}}    {{forename}} {{name}} {{/link-to}}
  {{/if}}
  {{#link-to 'users'}}Nutzer{{/link-to}}
  {{#link-to 'quotes'}}Zitate{{/link-to}}
  {{#link-to 'polls'}}Umfragen{{/link-to}}

</div>


<div class="login">

{{#if session.isAuthenticated}}
  <a {{action 'invalidateSession'}}>Logout</a>

{{else}}


  {{#link-to 'login'}}Login{{/link-to}}
{{/if}}
</div>
</div>

<div class="maincontent {{if blur 'blur-background' ''}}">
    {{!-- <button type="button" name="button" {{action "debugSession"}}>bla </button> --}}
 {{outlet}}
</div>
