<div class="header">


<div class="navbar">
{{#if session.isAuthenticated}}
  {{#link-to 'users'}}<span class="navbar-text">Nutzer</span><i class="users-icon nav-icon"></i>{{/link-to}}
  {{#link-to 'quotes'}}<span class="navbar-text">Zitate</span><i class="quotes-icon nav-icon"></i>{{/link-to}}
  {{#link-to 'polls'}}<span class="navbar-text">Umfragen</span><i class="polls-icon nav-icon"></i>{{/link-to}}
  {{#link-to 'courses'}}<span class="navbar-text">Kurse</span><i class="courses-icon nav-icon"></i>{{/link-to}}
  {{#link-to 'facts'}}<span class="navbar-text">Fakten</span><i class="facts-icon nav-icon"></i>{{/link-to}}
  {{#link-to 'prom'}}<span class="navbar-text">Abiball</span><i class="facts-icon nav-icon"></i>{{/link-to}}
  {{#if-admin}}
    {{#link-to 'stats'}} <span class="navbar-text">Statistiken</span><i class="stats-icon nav-icon"></i> {{/link-to}}
  {{/if-admin}}
  {{#if-admin status="trusted"}}
    {{#link-to 'transactions'}} <span class="navbar-text">Finanzen</span><i class="transactions-icon nav-icon"></i>{{/link-to}}
  {{/if-admin}}
  {{!-- {{#link-to 'mottos'}}<span class="navbar-text">Mottos</span><i class="mottos-icon nav-icon"></i>{{/link-to}} --}}
{{/if}}


</div>

{{#if session.isAuthenticated}}
  <div class="logout">
    <a {{action 'invalidateSession'}}><i class="logout-icon nav-icon"></i><span class="navbar-text">Logout</span></a>
  </div>
{{else}}
  <div class="login">
    {{#link-to 'login'}}<span class="navbar-text">Login</span>{{/link-to}}
  </div>
{{/if}}
</div>

<div class="maincontent {{if blur 'blur-background' ''}}">
    {{!-- <button type="button" name="button" {{action "debugSession"}}>bla </button> --}}
 {{liquid-outlet}}
</div>
<div class="footer">
  <div>Icons made by <a href="http://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
